.logo {
text-align: center;
background: url(../images/backgrounds/landing.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Cormorant Garamond', serif;
font-style: light;
color: white;
padding-top: 25px;

      }
.emphasize{
  font-weight: bold;
}

#fast-food{
  text-align: left;
  float: right;
}
#drinks{
  float: left;
}
.happyhour{
  background-color: blue;
  background-size: contain;
}
.partytime{
  background-color: black;
}
#drink2
{
  padding-left: none;
}
p#drinkscolumn{
  width: 20px
}
