.logo {
text-align: center;
background: url(../images/backgrounds/landing.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Cormorant Garamond', serif;
font-style: light;
color: white;
padding-top: 25px;

      }
.emphasize{
  font-weight: bold;
}

#fast-food{
  text-align: left;
}
#drinks{
  text-align: right;
}


.happyhour{
  background-color: blue;
  background-size: contain;
}
.partytime{
  background-color: black;
}
#drink2
{
  padding-left: none;
}
p#drinkscolumn{
  width: 20px
}
.polaroid{
  width: 47%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px;
  image-orientation:

}
